<div class="auction-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="auction-header">
                    <div class="title-idea" >
                        <div class="marks"></div>
                        <div id="envelope">
                            <div id="lid"></div>
                            <div id="letter">
                                <h2 ng-bind="idea.title">Send my secret very big</h2>

                                <form action="/charge" method="POST" id="payment-form" ng-submit="submitPayment($event)">
                                    <span class="payment-errors"></span>

                                    <div class="form-row">
                                        <label>
                                            <span>Email</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" size="20" data-stripe="email" name="stripeEmail">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <label>
                                            <span>Card Number</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" size="20" data-stripe="number">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <label>
                                            <span>Expiration (MM/YY)</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" size="2" data-stripe="exp_month">
                                            <span> / </span>
                                            <input type="text" size="2" data-stripe="exp_year">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <label>
                                            <span>CVC</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" size="4" data-stripe="cvc">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <label>
                                            <span>Billing ZIP Code</span>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" size="6" data-stripe="address_zip">
                                        </div>
                                    </div>

                                    <input type="submit" class="submit" value="Submit Payment">
                                </form>
                            </div>
                            <div id="left-corner"></div>
                            <div id="right-corner"></div>
                        </div>
                        <div class="stamp" ng-style="randomIdeas.stamp"></div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-sx-8 col-xs-offset-2">
                        <div class="progressBar">
                            <uib-progressbar animate="false" value="timer.value" type="success"></uib-progressbar>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-pass" type="button" ng-disabled="isLastUser">
                                <i class="glyphicon glyphicon-thumbs-down"></i>
                            </button>
                        </span>
                        <input ng-model="bet" type="text" class="form-control input-lg input-cash" placeholder="......"/>
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-bit" type="button" ng-disabled="isLastUser" ng-click="makeBid()">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Nickname</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bid in idea.bids">
                        <td class="time-rate" ng-bind="bid.timeStamp | date : 'hh:mm'"></td>
                        <td class="nic-name" ng-bind="bid.username"></td>
                        <td class="price" ng-bind="bid.amount | currency"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>