<div class="container">
    <table class="table table-condensed" ng-if="isDataLoaded">
        <thead><tr>
            <th>№</th>
            <th>Name</th>
            <th></th>
        </tr></thead>
        <tbody>
            <tr ng-repeat="category in categories">
                <th>{{$index + 1}}</th>
                <td><input class="form-control" ng-model="category.name" title="category name"
                           ng-model-options="{ debounce: 2000 }" ng-change="saveCategory(category)" /></td>
                <td><button class="btn btn-danger" ng-click="deleteCategory(category.id)">X</button></td>
            </tr>
            <tr>
                <th>+</th>
                <td><input class="form-control" ng-model="newCategory.name" title="new category name"
                           ng-keydown="saveNewCategory($event)" /></td>
                <td><button class="btn btn-success" ng-click="saveNewCategory($event)">+</button></td>
            </tr>
        </tbody>
    </table>
</div>
