<div class="cloud">
    <div class="login">
        <div ng-if="isUserLogged()" class="name">
            <h2 ng-bind="currentUser.username"></h2>
        </div>
        <div ng-if="isUserLogged()" class="button">
            <a class="sign-in" ng-click="logout()" >Logout</a>
        </div>
        <div ng-if="!isUserLogged()" class="button">
            <a class="sign-in" ng-click="openSignIn()">Sign in</a>
        </div>
        <div ng-if="!isUserLogged()" class="button">
            <a class="sign-in">Sign up</a>
        </div>
    </div>

    <svg ng-if="!isUserLogged()" xmlns="http://www.w3.org/2000/svg" viewBox="1.5 15 50 20" width="320" height="300">
        <path fill="#2196F3" d="M45,34V18c0-4.418-3.582-8-8-8H16c-4.418,0-8,3.582-8,8v16H45z"></path>
        <g>
            <rect x="38" y="17" fill="#FF3D00" width="4" height="6"></rect>
            <rect x="30" y="17" fill="#FF3D00" width="10" height="2"></rect>
            <circle fill="#FF3D00" cx="29" cy="18" r="2"></circle>
        </g>
        <circle fill="#DD2C00" cx="29" cy="18" r="1"></circle>
        <rect x="25" y="34" fill="#FFCC80" width="5" height="10"></rect>
        <rect x="25" y="34" fill="#FFA726" width="5" height="2"></rect>
        <path fill="#1976D2" d="M16,10c-4.411,0-8,3.589-8,8v14v2h2h12h2v-2V18C24,13.589,20.411,10,16,10L16,10z"></path>
        <path fill="#64B5F6" d="M16,12c-3.309,0-6,2.691-6,6v14h12V18C22,14.691,19.309,12,16,12z"></path>
        <path fill="#0D47A1" d="M20,20c0,0.552-0.448,1-1,1h-6c-0.552,0-1-0.448-1-1l0,0c0-0.552,0.448-1,1-1h6C19.552,19,20,19.448,20,20
	        L20,20z"></path>
    </svg>
    <a ng-if="isUserLogged()" ng-click="go('account')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.5 15 50 20" width="320" height="300">
            <g>
                <path fill="#2196F3" d="M45,34V18c0-4.418-3.582-8-8-8H16c-4.418,0-8,3.582-8,8v16H45z"></path>
                <path fill="#2196F3" d="M11,33c0,0.552-0.448,1-1,1H4c-0.552,0-1-0.448-1-1l0,0c0-0.552,0.448-1,1-1h6C10.552,32,11,32.448,11,33
		    L11,33z"></path>
            </g>
            <path fill="#0D47A1" d="M16,12c-3.309,0-6,2.691-6,6v14h12V18C22,14.691,19.309,12,16,12z"></path>
            <g>
                <rect x="38" y="17" fill="#FF3D00" width="4" height="6"></rect>
                <rect x="30" y="17" fill="#FF3D00" width="10" height="2"></rect>
                <circle fill="#FF3D00" cx="29" cy="18" r="2"></circle>
            </g>
            <circle fill="#DD2C00" cx="29" cy="18" r="1"></circle>
            <rect x="25" y="34" fill="#FFCC80" width="5" height="10"></rect>
            <rect x="25" y="34" fill="#FFA726" width="5" height="2"></rect>
            <path fill="#1A237E" d="M16,12c-2.45,0-4.558,1.478-5.489,3.587L22,32V18C22,14.691,19.309,12,16,12z"></path>
        </svg>
    </a>
</div>